
  <div class="container my-5 about-me">
    <div class="row">

      <h3 class="  col-3 h1"> About me</h3>
      <div class=" col-9  ">
        <p class="col-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus praesentium architecto natus nesciunt aliquid ab, totam corrupti, sit aspernatur corporis explicabo quaerat harum incidunt odio molestiae quis consequatur. Molestias, culpa.</p>
        <a href="assets/Muhammad_Shaker_Kasem_Al_Kilany_CV.pdf" download>
          <button type="button" class="btn btn-dark text-center w-25 rounded-0">MY CV</button>
        </a>
      </div>
    </div>
    
  </div>

